<vo-lib-page [contentLoading]="false" header="SUBMISSION_DONE.TITLE">
  <vo-lib-page-header header>
    <vo-ausm-breadcrumbs left [items]="breadcrumbs"></vo-ausm-breadcrumbs>
    <vo-ausm-contest-header center [contest]="contest" [countingCircle]="countingCircle"
      [state]="state"></vo-ausm-contest-header>
    <div right>
      <bc-button variant="tertiary"
        [disabled]="selectedResults.selected.length === 0 || loadingResults || finishingResultSubmissions"
        [label]="'SUBMISSION_DONE.FINISH_SUBMISSION_SELECTED_ACTION' | translate"
        (buttonClick)="finishSubmissionSelected()"></bc-button>
    </div>
  </vo-lib-page-header>

  <bc-spinner *ngIf="loadingResults; else contentTable" size="large"></bc-spinner>

  <ng-template #contentTable>
    <bc-table selection *ngIf="resultsDataSource.data.length > 0; else noData" [dataSource]="resultsDataSource">
      <ng-container columnDef="select">
        <bc-header-cell *headerCellDef>
          <bc-checkbox class="ml-2 mb-0" (checkedChange)="selectAllResults($event)"
            [checked]="selectedResults.hasValue() && allResultsSelected"
            [indeterminate]="selectedResults.hasValue() && !allResultsSelected" [disabled]="finishingResultSubmissions">
          </bc-checkbox>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <bc-checkbox class="ml-2"
                       (checkedChange)="toggleResult(element, $event)"
                       [checked]="selectedResults.isSelected(element)"
                       [disabled]="element.state !== countingCircleResultStates.COUNTING_CIRCLE_RESULT_STATE_SUBMISSION_ONGOING || finishingResultSubmissions">
          </bc-checkbox>
        </bc-data-cell>
      </ng-container>

      <ng-container columnDef="politicalBusinessTitle">
        <bc-header-cell *headerCellDef>{{ 'SUBMISSION_DONE.POLITICAL_BUSINESS' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">{{ element.politicalBusiness.title }}</bc-data-cell>
      </ng-container>

      <ng-container columnDef="domainOfInfluenceType">
        <bc-header-cell *headerCellDef>{{ 'SUBMISSION_DONE.DOMAIN_OF_INFLUENCE_TYPE' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          {{ 'DOMAIN_OF_INFLUENCE_TYPES.' + element.politicalBusiness.domainOfInfluence.type | translate }}
        </bc-data-cell>
      </ng-container>

      <ng-container columnDef="politicalBusinessType">
        <bc-header-cell *headerCellDef>{{ 'SUBMISSION_DONE.POLITICAL_BUSINESS_TYPE' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          {{ 'POLITICAL_BUSINESS.TYPE.' + element.politicalBusiness.businessType | translate }}
        </bc-data-cell>
      </ng-container>

      <ng-container columnDef="countingCircleResultState">
        <bc-header-cell *headerCellDef>{{ 'SUBMISSION_DONE.COUNTING_CIRCLE_RESULT_STATE' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <vo-ausm-result-state-box [state]="element.state" [newZhFeaturesEnabled]="newZhFeaturesEnabled" [stateDescriptionsByState]="contest?.cantonDefaults.countingCircleResultStateDescriptionsByState"></vo-ausm-result-state-box>
        </bc-data-cell>
      </ng-container>

      <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
      <bc-data-row *dataRowDef="let row; columns: columns; let i = index" selectionToggle [selectionToggleValue]="row"
        selectionRow [selectionRowValue]="row"></bc-data-row>
    </bc-table>

    <div *ngIf="readyForCorrectionResults.length > 0" class="mt-3">
      <p class="ready-for-correction-result" *ngFor="let readyForCorrectionResult of readyForCorrectionResults">{{ 'SUBMISSION_DONE.READY_FOR_CORRECTION_RESULT' | translate : { title : readyForCorrectionResult.politicalBusiness.title, state: contest?.cantonDefaults.countingCircleResultStateDescriptionsByState[countingCircleResultStates.COUNTING_CIRCLE_RESULT_STATE_READY_FOR_CORRECTION] ?? 'COUNTING_CIRCLE_RESULT_STATE.' + countingCircleResultStates.COUNTING_CIRCLE_RESULT_STATE_READY_FOR_CORRECTION | translate } }}</p>
    </div>
  </ng-template>

  <ng-template #noData>
    <span class="no-data">{{'SUBMISSION_DONE.NO_RESULTS' | translate}}</span>
  </ng-template>
</vo-lib-page>
