@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;

.cockpit-grid {
  display: grid;
  grid-gap: 8px;
  align-items: center;
  padding-top: 2rem;
}

.filter {
  @extend .p-2;

  background-color: $color-grey-7;
  border: 1px solid $color-grey-6;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &.large {
    font-size: 1.1rem;
  }

  &.active {
    background-color: $color-primary;
    color: $color-white;
  }

  &.not-clickable {
    cursor: default;
  }
}

.counting-circle-filter {
  min-width: 13rem;
}

.skip-col-1 {
  grid-column-start: 2;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.state-colorbox {
  border-radius: 4px;
  width: 1.7rem;
  height: 1.7rem;
}

.clickable {
  cursor: pointer;
}

bc-segmented-control-group {
  margin-bottom: 3px;
}

::ng-deep bc-segmented-control-group .mat-button-toggle-button {
  font-size: 1rem !important;
  height: 2.7rem !important;
}

::ng-deep .counting-circle-filter .mat-form-field-wrapper {
  padding-bottom: 0;
}

.not-owned-political-business-container {
  background-color: $color-grey-7;
  border: 1px solid $color-grey-6;
  min-height: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    margin-left: 0.5rem;
  }
}
