@use '@abraxas/voting-lib/style/color' as *;

.detail-icon-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
  font-size: 1.2rem;
  height: 2rem;

  &:hover {
    color: $color-primary-75;
  }

  &.disabled {
    cursor: not-allowed;
    color: $color-grey-4;
  }

  span {
    flex: 1 1 0;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    &:not(.number) {
      text-decoration: underline;
    }

    &.number {
      justify-content: flex-end;
    }
  }
}
