@use '@abraxas/voting-lib/style/color' as *;

// TODO: can be removed if new UI is standard

$old-states: (
  // initial
  1: #e0e0e0,
  // in Erfassung
  2: #fcc900,
  // zur Kontrolle
  3: #c60000,
  // übermittelt
  4: #1c9048,
  // Kontrolle beendet
  5: #4cc1ae,
  // Vorläufig geprüft
  6: #1c69ce,
  // Alles plausibilisiert
  7: #893b67
);

@each $name, $color in $old-states {
  .result-state-#{$name}-old {
    background-color: $color;
    color: #fff;
  }
}
