table td:not(.action-menu) {
  overflow: hidden;
  text-overflow: ellipsis;
}

// Action column should only take a small width
th.actions-header {
  width: 2rem;
}

.bc-paginator-container {
  padding: 0 !important;
}

.cdk-overlay-container .bc-filter-panel {
  min-width: fit-content !important;

  .mat-mdc-option {
    padding-right: 1rem !important;
  }
}
