<bc-table [dataSource]="politicalBusinesses">
  <ng-container columnDef="select">
    <bc-header-cell *headerCellDef>
      <bc-checkbox class="ml-2 mb-0" (checkedChange)="toggleAllRows($event)"
        [checked]="selection.hasValue() && isAllSelected" [indeterminate]="selection.hasValue() && !isAllSelected">
      </bc-checkbox>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <bc-checkbox class="ml-2" (checkedChange)="toggleRowWithValue(element, $event)"
        [checked]="selection.isSelected(element)">
      </bc-checkbox>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="politicalBusinessNumber">
    <bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.NR' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.politicalBusinessNumber }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="shortDescription">
    <bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.shortDescription }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="doiType">
    <bc-header-cell *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.TITLE' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ 'DOMAIN_OF_INFLUENCE_TYPES.' + element.domainOfInfluence.type |
      translate }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="politicalBusinessType">
    <bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.TYPE.TITLE' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ 'POLITICAL_BUSINESS.TYPE.' + element.businessType | translate
      }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="token">
    <bc-header-cell *headerCellDef>{{ 'EXPORT_COCKPIT.POLITICAL_BUSINESS_METADATA.TOKEN' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element"><bc-text [value]="getToken(element.id)"
        (valueChange)="setToken(element.id, $event)"
        [subscriptSizing]="'dynamic'"></bc-text></bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row *dataRowDef="let row; columns: columns; let i = index"></bc-data-row>
</bc-table>