<div class="footer-row-entry footer-row-entry-filler"></div>

<ng-container *ngFor="let type of filteredDomainOfInfluenceTypes">
  <ng-container *ngFor="let politicalBusiness of filteredPoliticalBusinessesByDoiType[type]">
    <app-monitoring-cockpit-grid-footer-buttons class="footer-row-entry"
                                                [readOnly]="readOnly"
                                                [politicalBusiness]="politicalBusiness"
                                                [countingCircleResults]="countingCircleResults"
                                                [filteredCountingCircleResults]="filteredCountingCircleResults"
                                                [disabled]="loading"
                                                (updateAllStates)="updateAllStates(politicalBusiness, $event)">
    </app-monitoring-cockpit-grid-footer-buttons>
  </ng-container>
</ng-container>
