@use '@abraxas/voting-lib/style/color' as *;

:host {
  display: contents;
}

.footer-row-entry {
  position: sticky;
  bottom: 0;
  background-color: $color-white;

  &.footer-row-entry-filler {
    height: 100%;
    grid-column: span 2;
  }

  bc-button.full-width ::ng-deep button {
    width: 100% !important;
  }
}
