<vo-lib-split-screen>
  <div left class="pr-2">
    <h4 translate>RESULT_IMPORT.SELECT_FILE</h4>

    <bc-dropdown [label]="'RESULT_IMPORT.E_CH_STANDARD' | translate"
                 [items]="[{description: 'RESULT_IMPORT.ECH_0222' | translate, value: 1}]"
                 [value]="1"
                 [clearable]="false"
                 displayExpr="description"
                 valueExpr="value"
                 class="mb-2">
    </bc-dropdown>

    <div class="file-container" [class.dragging]="draggingFiles">
      <div>
        <p translate>RESULT_IMPORT.DRAG_FILE</p>
        <p translate>RESULT_IMPORT.OR</p>
        <input #fileInput
               type="file"
               (change)="setFileFromEvent($event)"
               accept=".xml"
               [multiple]="true">
        <bc-button (buttonClick)="fileInput.click()"
                   variant="primary"
                   [label]="'RESULT_IMPORT.CHOOSE_FILE' | translate">
        </bc-button>
      </div>
    </div>
  </div>

  <div right class="pl-2">
    <h4 translate>RESULT_IMPORT.CHOSEN_FILES</h4>
    <bc-advanced-table [dataSource]="!selectedFile ? [] : [selectedFile]">
      <ng-container bcColumnDef="name">
        <th bc-header-cell *bcHeaderCellDef>{{ 'RESULT_IMPORT.FILENAME' | translate }}</th>
        <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container bcColumnDef="type">
        <th bc-header-cell *bcHeaderCellDef>{{ 'RESULT_IMPORT.E_CH_STANDARD' | translate }}</th>
        <td bc-cell *bcCellDef="let element">
          <div class="truncate mr-4">
            {{ 'RESULT_IMPORT.ECH_0222' | translate }}
          </div>
        </td>
      </ng-container>
      <ng-container bcColumnDef="actions">
        <th bc-header-cell class="actions-header" *bcHeaderCellDef></th>
        <td bc-cell *bcCellDef="let element">
          <bc-icon (click)="selectFile()" icon="remove"></bc-icon>
        </td>
      </ng-container>

      <tr bc-header-row *bcHeaderRowDef="['name', 'type', 'actions']"></tr>
      <tr bc-advanced-table-row *bcRowDef="let row; columns: ['name', 'type', 'actions']"></tr>
    </bc-advanced-table>
  </div>
</vo-lib-split-screen>
