@use '@abraxas/voting-lib/style/spacing' as *;

vo-lib-split-screen {
  height: max-content;

  [left] {
    min-width: 12.5rem;
  }

  [right] {
    min-width: 12.5rem;
  }
}

.additional-infos {
  @extend .mt-4, .mb-2, .mr-5;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
